<!DOCTYPE html>

<head>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/jquery.smoothscroll.js"></script>
<script type="text/javascript" src="js/jquery.scrollshow.js"></script>
<script type="text/javascript" src="js/jquery.rollover.js"></script>
<script type="text/javascript" src="js/jquery.slidewide.js"></script>
<link rel="stylesheet" type="text/css" href="css/stylen.css">

</head>
<body>

<nav>
    <h3>メニュー</h3>
    <ul>
        <li><a href="index.html">ボディバランスとは</a></li>
        <li><a href="index.html">スケジュール管理</a></li>
        <li><a href="index.html">各種情報</a></li>
        <li><a href="index.html">交流掲示板</a></li>
        <li><a href="index.html">アルバム</a></li>
        <li><a href="sample.html">マイページ</a></li>
    </ul>
</nav>

<img src='/assets/bb.jpg' class="mainpic">

<div id="contents">
<div class="topNavi">
    <div class="topNaviColumn">
        <a class="topNaviCon" href="index.html">
            <div class="topNaviPhoto"><img src="photo04.jpg" alt="" /></div>
            <h2>次回の活動予定</h2>
            <p><ul>
                <li>場所：目黒コナミスポーツ</li>
                <li>日時：8月6日(木) 20時15分～</li>
                <li>出発予定時間:19時25分</li>
            </ul>
            </p>
        </a>
        <a class="topNaviCon" href="index.html">
        <div class="topNaviPhoto"><img src="photo04.jpg" alt="" /></div>
            <h2>前回の活動</h2>
            <p><ul>
                <li>場所:西葛西コナミスポーツ</li>
                <li>日時:8月3日(月) 22時00分～</li>
                <li>詳細を見る</li>
            </ul>
            </p>
        </a>
    </div>
</div><!-- /.topNavi -->
<div id="main">
<section>
    <h2>新着情報</h2>
    <dl class="info">
       <dt><span>20XX-01-01</span></dt>
       <dd>
             更新情報などを掲載するのに便利なデザインです。dlタグに『class="info"』を追加してください。
       </dd>
       <dt><span>20XX-01-01</span></dt>
       <dd>
             更新情報などを掲載するのに便利なデザインです。
       </dd>
    </dl>
</section>
<section>
    <div class="photo">
        <h3>見出し</h3>
        <div class="imgL"><img src="images/photo.png" alt=""></div>
        <p>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
    </div><!-- /.photo -->
    <div class="photo">
        <h3>見出し</h3>
        <div class="imgR"><img src="images/photo.png" alt=""></div>
        <p>
        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
    </div><!-- /.photo -->
</section>
</div><!-- /#main -->

<!--<div id="sub">
    <h3>h3タグ</h3>
    <p>
    サブコンテンツはバナーを掲載するのに便利です。ulタグに『class="bnr"』とすれば、きれいに画像が並びます。
    </p>
    <ul class="bnr">
        <li><a href="index.html"><img src="images/banner.png" alt=""></a></li>
        <li><a href="index.html"><img src="images/banner.png" alt=""></a></li>
        <li><a href="index.html"><img src="images/banner.png" alt=""></a></li>
        <li><a href="index.html"><img src="images/banner.png" alt=""></a></li>
    </ul>
</div> -->
</div><!-- /#contents -->
<footer>
    <div class="footmenu">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="index.html">スケジュール管理</a></li>
            <li><a href="index.html">各種情報</a></li>
            <li><a href="index.html">交流掲示板</a></li>
            <li><a href="index.html">アルバム</a></li>
            <li><a href="sample.html">マイページ</a></li>
        </ul>
    </div><!-- /.footmenu -->
    <div class="copyright">Copyright &#169; 20XX - 20XX SITENAME All Rights Reserved.</div><!-- /.copyright -->
</footer>
<div class="totop"><a href="#"><img src="images/totop.png" alt="ページのトップへ戻る"></a></div><!-- /.totop -->
</body>
</html>