<p>こんにちは <%= @resource.email %>!</p>

<p>パスワードの変更が要求されました。以下のリンクから変更をすることができます。</p>

<p><%= link_to 'パスワードを変更する。', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>変更を希望されていない場合は、このメールを破棄してください。</p>
<p>あなたのパスワードは上のリンクにアクセスし、変更を確定するまで変わることはありません。</p>
