<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのアカウントは、認証失敗の制限回数を超えたため、ロックされました。</p>

<p>ロックを解除するためには、以下のリンクから処理を行ってください。:</p>

<p><%= link_to 'アカウントのロックを解除する', unlock_url(@resource, unlock_token: @token) %></p>
